<div class="flash-message {{flashIsErrorMessage ? 'error' : ''}} alert" ng-show="showFlashMessage">
{{flashMessage}}
</div>
<div class="" ng-hide="doneLoading">
Loading robot data...
</div>
<form class="" ng-show="doneLoading">
	<h2 class="form-heading">Change Robot Settings</h2>


	<p class="explanation">
	The repository URL you set below should point to a git repository that is readable by the tournament runner.  If it is a private repository, please contact the tournament organisers to arrange for access to be granted to the tournament runner.
	</p>
	<p class="explanation">
	The robot class name should be the name of a class within the repository that refers to your robot.
	</p>
	<p class="explanation">
	The build status indicator must be green at the time when the competition starts in order for your robot to enter the competition.
	<br />
	It can be red for the following reasons:
	<ul>
		<li>git: The repository does not exist or is not readable by the server</li>
		<li>maven: The 'maven install' command failed on the server</li>
	</ul>
	</p>


	<div class="robot">
		<span class="build-status {{buildStatus.className}}">{{buildStatus.friendlyName}}</span>
		<br />
		<label for="repository">Repository URL</label>
		<input type="url" id="repository" ng-model="repoUrl" class="form-control" placeholder="https://github.com/foo/bar" required autofocus />
		<div class="input-container">
			<label for="className">Robot Class Name</label>
			<input type="text" id="className" ng-model="robot" class="form-control" placeholder="MyAwesomeRobot" />
		</div>
	</div>

	<button type="submit" class="btn btn-default" ng-click="save()" ng-disable="!saveButtonEnabled">Save</button>
</form>	