doctype html
html
	head
	body
		h1 Robocode tournament activation required
		p Please click the below link to activate:
		a(href=baseUrl + '#/activate?code=' + activationCode)=baseUrl + '#/activate?code=' + activationCode
		p (if it isn't a link, copy/paste it into your browser instead)